@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaPro-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaPro-Light.otf");
  font-weight: 300;
  font-style: normal;
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}
body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "OpenSans", sans-serif;
}
.header {
  padding-top: 40px;
}
.header__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header__tools {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__tools-item {
  margin-right: 40px;
  position: relative;
}
.header__tools-item a {
  display: inline-block;
  text-decoration: none;
  color: #404257;
  font-size: 26px;
  overflow: hidden;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.header__tools-item a:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -1px;
}
.header__tools-item a:hover {
  color: #565874;
}
.header__tools-item .tools-number {
  position: absolute;
  top: -5px;
  right: -2px;
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  background-color: #cb2332;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #25273a;
}
.header__auth {
  margin: 0 0 0 auto;
}
.header__auth a {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #c22433;
  padding: 9px 19px 9px 22px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.header__auth a:hover {
  -webkit-box-shadow: 0px 7px 38px 0px rgba(202, 35, 50, 0.65);
  box-shadow: 0px 7px 38px 0px rgba(202, 35, 50, 0.65);
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__profile-info {
  margin-right: 15px;
}
.header__profile .profile-info__name {
  font-weight: normal;
  font-size: 13px;
  color: #fff;
}
.header__profile .profile-info__level {
  font-weight: 300;
  font-size: 13px;
  text-align: right;
  color: #5c5e72;
}
.header__profile-avatar {
  margin: 0;
  cursor: pointer;
}
.header__profile-avatar .profile-avatar__content {
  height: 51px;
  position: relative;
}
.header__profile-avatar .profile-avatar__content svg {
  width: 51px;
  height: 51px;
}
.header__profile-avatar .profile-avatar__content svg rect {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  stroke: #565975;
  stroke-width: 3px;
}
.header__profile-avatar .profile-avatar__content svg line {
  stroke: #5683e6;
  stroke-width: 3px;
}
.header__profile-avatar .profile-avatar__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 3px;
  left: 3px;
}
.header__profile-more {
  margin-left: 13px;
  cursor: pointer;
}
.header__profile-more i {
  color: #565975;
  font-size: 12px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.header__profile-more i:hover {
  color: #6c6f92;
}
.header__dropdown {
  background-color: #1c1d2c;
  padding: 10px;
  position: absolute;
  top: calc(100% + 27px);
  right: 0;
  z-index: 999;
  width: 180px;
  padding: 25px 0 15px 24px;
  display: none;
}
.header__dropdown:before {
  position: absolute;
  content: "";
  right: 39px;
  bottom: 100%;
  border: 10px solid transparent;
  border-bottom: 20px solid #1c1d2c;
}
.header__dropdown-item {
  margin-bottom: 14px;
}
.header__dropdown-item:last-child {
  margin-bottom: 0;
}
.header__dropdown-item a {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  color: #5c5e72;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.header__dropdown-item a:hover {
  color: #fff;
}
.content__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav {
  width: calc(20.666666666666668% - 15px);
  margin-top: 185px;
}
.nav__heading {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  color: #404257;
  margin-left: 5px;
  margin-bottom: 20px;
}
.nav__item.active a {
  color: #5683e6;
}
.nav__item.active a:before {
  background-color: #5683e6;
}
.nav__item a {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  color: #5c5e72;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
  padding: 14px 0 22px 15px;
  position: relative;
}
.nav__item a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #404257;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.nav__item a:hover {
  color: #5683e6;
}
.nav__item a:hover:before {
  background-color: #5683e6;
}
.nav__item a i {
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
}
.nav__item a i.flaticon-cart {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.main {
  width: calc(79.33333333333333% - 15px);
  margin: 0 0 0 auto;
}
.main__bunners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__bunners-slider {
  max-width: 600px;
}
.main__bunners-slider .owl-prev,
.main__bunners-slider .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main__bunners-slider .owl-prev i,
.main__bunners-slider .owl-next i {
  font-weight: 900;
  font-size: 14px;
  color: #5683e6;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__bunners-slider .owl-prev:hover i,
.main__bunners-slider .owl-next:hover i {
  color: #2a62df;
}
.main__bunners-slider .owl-prev {
  left: 16px;
}
.main__bunners-slider .owl-next {
  right: 16px;
}
.main__bunners-slider .owl-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: 10px;
  margin-left: 48px;
  margin-bottom: 38px;
}
.main__bunners-slider .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #404257;
  margin: 5px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.main__bunners-slider .owl-dot.active span {
  background-color: #cb2332;
}
.main__bunners-slide {
  position: relative;
}
.main__bunners .bunners-slide__text {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
}
.main__bunners-bunner {
  position: relative;
}
.main__bunners-bunner .bunners-bunner__info {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "GothamPro", sans-serif;
}
.main__bunners-bunner .bunners-bunner__text {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
}
.main__bunners-bunner .bunners-bunner__text.text-gold {
  font-weight: 900;
  font-size: 41px;
  color: #efb915;
  text-transform: uppercase;
  line-height: 0.732;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #fdf731), to(#edb107));
  background: -webkit-linear-gradient(top, #fdf731 33%, #edb107);
  background: -o-linear-gradient(top, #fdf731 33%, #edb107);
  background: linear-gradient(180deg, #fdf731 33%, #edb107);
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  color: #faea24;
  display: table;
  letter-spacing: -0.1em;
}
.main__bunners-bunner .bunners-bunner__button {
  display: inline-block;
  margin-top: 7px;
}
.main__bunners-bunner .bunners-bunner__button a {
  display: inline-block;
  font-weight: 900;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222335;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf22e), to(#eaa208));
  background-image: -webkit-linear-gradient(top, #fcf22e 0%, #eaa208 100%);
  background-image: -o-linear-gradient(top, #fcf22e 0%, #eaa208 100%);
  background-image: linear-gradient(180deg, #fcf22e 0%, #eaa208 100%);
  padding: 8px 8px 9px 8px;
  letter-spacing: -0.06em;
}
.main__monitoring {
  margin-top: 65px;
}
.main__monitoring-heading {
  font-weight: 500;
  font-size: 12px;
  color: #404257;
  text-transform: uppercase;
}
.main__monitoring-statistics {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__monitoring-statistics .chart__visit {
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  color: #5683e6;
  background-color: #1c1d2c;
  top: 5%;
  left: 90.5%;
  border: 1px solid #5683e6;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(86, 131, 230, 0.2);
  box-shadow: 0px 5px 21px 0px rgba(86, 131, 230, 0.2);
  padding: 3px 11px 3px 6px;
}
.main__monitoring-statistics .chart__visit:before {
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-top: 9px solid #5683e6;
  top: 100%;
  left: 4px;
}
.main__monitoring-statistics .chart__visit:after {
  position: absolute;
  content: "";
  border: 3px solid transparent;
  border-top: 7px solid #1c1d2c;
  top: 100%;
  left: 5px;
}
.main__monitoring-statistics .chart__visit i {
  margin-right: 8px;
}
.main .monitoring-statistics__chart {
  position: relative;
  width: calc(50% - 15px);
}
.main .monitoring-statistics__online {
  width: calc(50% - 15px);
}
.main .monitoring-statistics__online .statistics__online-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .monitoring-statistics__online .statistics__online-diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 130px;
  height: 130px;
}
.main .monitoring-statistics__online .statistics__online-diagram .diagram__content-text {
  fill: #404257;
  -webkit-transform: translateY(0.1em);
  -ms-transform: translateY(0.1em);
  transform: translateY(0.1em);
  font-weight: 600;
}
.main .monitoring-statistics__online .statistics__online-diagram .diagram__content-number {
  font-size: 0.33em;
  text-anchor: middle;
  -webkit-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
.main .monitoring-statistics__online .statistics__online-diagram .diagram__content-label {
  font-size: 0.16em;
  text-transform: uppercase;
  text-anchor: middle;
  -webkit-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
}
.main .monitoring-statistics__online .statistics__online-diagram .diagram__content circle {
  fill: transparent;
  stroke-width: 1.5px;
}
.main .monitoring-statistics__online .statistics__online-players {
  margin-left: 30px;
}
.main .monitoring-statistics__online .statistics__online-players .online-players__item {
  color: #5c5e72;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main .monitoring-statistics__online .statistics__online-players .online-players__item:last-child {
  margin-bottom: 0;
}
.main .monitoring-statistics__online .statistics__online-players .online-players__item .server_1 {
  color: #cb2332;
}
.main .monitoring-statistics__online .statistics__online-players .online-players__item .server_2 {
  color: #5683e6;
}
.main .monitoring-statistics__online .statistics__online-servers {
  margin-top: 42px;
}
.main .monitoring-statistics__online .statistics__online-server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #1c1d2c;
  padding: 17px 19px 18px 16px;
  position: relative;
  margin-bottom: 28px;
}
.main .monitoring-statistics__online .statistics__online-server:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #404257;
}
.main .monitoring-statistics__online .statistics__online-server .online-server__item {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  color: #5c5e72;
}
.main .monitoring-statistics__online .statistics__online-server .online-server__item.online-server__button a {
  text-decoration: none;
  color: #404257;
  width: 15px;
  height: 15px;
  font-size: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #181825;
  background-color: #181825;
}
.main .monitoring-statistics__online .statistics__online-server.online-server__active {
  -webkit-box-shadow: 8px 0 24px rgba(203, 35, 50, 0.2);
  box-shadow: 8px 0 24px rgba(203, 35, 50, 0.2);
}
.main .monitoring-statistics__online .statistics__online-server.online-server__active .online-server__item {
  color: #cb2332;
}
.main .monitoring-statistics__online .statistics__online-server.online-server__active .online-server__item.online-server__button a {
  text-decoration: none;
  color: #cb2332;
  border: 1px solid #cb2332;
  background-color: transparent;
}
.main .monitoring-statistics__online .statistics__online-server.online-server__active:before {
  background-color: #cb2332;
}
.main__socials {
  margin-top: 50px;
}
.main__socials-heading {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #404257;
}
.main__socials-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 32px;
}
.main__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #5c5e72;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__socials-item:first-child i {
  color: #5683e6;
}
.main__socials-item:nth-child(2) i {
  color: #425888;
}
.main__socials-item:nth-child(3) i {
  color: #cb2332;
}
.main__socials-item:hover {
  color: #454756;
}
.main__socials-item .socials-item__icon {
  margin-right: 20px;
}
.main__socials-item .socials-item__icon i {
  font-size: 36px;
}
.main__socials-item .socials-item__title {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
.main__socials-item .socials-item__sub {
  font-weight: 500;
  font-size: 12px;
}
.footer {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #5c5e72;
  padding: 60px 0 50px 0;
}
.main__play .main__bunners {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main__play .main__bunners-bunner {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__play .main__bunners-bunner:before {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 49px);
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__play .main__bunners-bunner:hover:before {
  -webkit-box-shadow: 0 25px 49px rgba(86, 131, 230, 0.2);
  box-shadow: 0 25px 49px rgba(86, 131, 230, 0.2);
}
.main__play .bunners-bunner__info {
  top: calc(50% + 24px);
  font-family: "OpenSans";
  left: 70px;
}
.main__play .bunners-bunner__info.info-right {
  left: auto;
  right: 45px;
}
.main__play .bunners-bunner__text {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  background-clip: none;
}
.main__play .bunners-bunner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.main__play .bunners-bunner__button a {
  font-family: "OpenSans";
  font-weight: 500;
  font-size: 12px;
  background-image: none;
  background-color: transparent;
  color: #5c5e72;
  border: 1px solid #404257;
  padding: 5px 17px 6px 12px;
  margin-right: 8px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__play .bunners-bunner__button a:hover {
  background-color: #cb2332;
  border-color: transparent;
  color: #fff;
  -webkit-box-shadow: 0px 8px 29px 0px rgba(203, 35, 50, 0.65);
  box-shadow: 0px 8px 29px 0px rgba(203, 35, 50, 0.65);
}
.main__play .bunners-bunner__button .link {
  font-weight: 600;
  border: none;
  color: #38394c;
  padding-left: 5px;
}
.main__play .bunners-bunner__button .link:hover {
  background-color: transparent;
  color: #4e4f69;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.main__play .monitoring-statistics__online {
  margin: 50px auto 0 auto;
}
.main__play .statistics__online-heading {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.main__play .statistics__online-servers {
  margin-top: 26px !important;
}
.main__donat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 502px;
}
.main__donat-block {
  width: calc(36.483333333333334% - 15px);
}
.main__donat-block .donat-block {
  display: none;
  background-color: #1c1d2c;
}
.main__donat-block .donat-block.active {
  display: block;
}
.main__donat-block .donat-block__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c1d2c;
}
.main__donat-block .donat-block__tab {
  width: 50%;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  color: #565975;
  padding: 13px 0 17px 0;
  cursor: pointer;
  position: relative;
}
.main__donat-block .donat-block__tab:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cb2332;
  bottom: 0;
  left: 0;
}
.main__donat-block .donat-block__tab.active {
  background-color: #cb2332;
  color: #fff;
}
.main__donat-block .donat-block__title {
  text-align: center;
  padding: 28px 0 21px 0;
}
.main__donat-block .donat-block__heading {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.main__donat-block .donat-block__sub {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #565975;
  margin-top: 6px;
}
.main__donat-block .donat-block__form {
  padding: 0 26px 20px 26px;
}
.main__donat-block .donat-block__form .block__form-item {
  width: 100%;
}
.main__donat-block .donat-block__form .block__form-item input,
.main__donat-block .donat-block__form .block__form-item select {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #565975;
  padding: 14px 18px 17px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #181825;
  border: 1px solid transparent;
}
.main__donat-block .donat-block__form .block__form-item input:focus,
.main__donat-block .donat-block__form .block__form-item select:focus {
  border: 1px solid #5683e6;
}
.main__donat-block .donat-block__form .block__form-item input::-moz-placeholder {
  color: #565975;
  opacity: 1;
}
.main__donat-block .donat-block__form .block__form-item input::-webkit-input-placeholder {
  color: #565975;
  opacity: 1;
}
.main__donat-block .donat-block__form .block__form-item input:-ms-input-placeholder {
  color: #565975;
  opacity: 1;
}
.main__donat-block .donat-block__form .block__form-item input::-ms-input-placeholder {
  color: #565975;
  opacity: 1;
}
.main__donat-block .donat-block__form .block__form-item input::placeholder {
  color: #565975;
  opacity: 1;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox.opened .jq-selectbox__select {
  border: 1px solid #5683e6;
  border-bottom: 0;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox__select {
  height: 50px;
  padding: 0 17px 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  background-color: #181825;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox__select-text {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  color: #565975;
  text-align: left;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox__trigger:before {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-top: 10px solid #565975;
  right: 17px;
  top: calc(50% - 4px);
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox__trigger:after {
  position: absolute;
  content: "";
  border: 3px solid transparent;
  border-top: 7px solid #181825;
  right: 19px;
  top: calc(50% - 3px);
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 18px;
  background-color: #181825;
  margin: 0;
  top: 100% !important;
  border: 1px solid #5683e6;
  border-top: 0;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox li {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  color: #565975;
  margin-bottom: 5px;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox li.selected,
.main__donat-block .donat-block__form .block__form-item li.sel {
  color: #5683e6 !important;
  position: relative;
}
.main__donat-block .donat-block__form .block__form-item .jq-selectbox li:hover {
  color: #5683e6;
}
.main__donat-block .donat-block__form .block__form-submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main__donat-block .donat-block__form .block__form-submit input {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #5c5e72;
  border: 1px solid #5c5e72;
  background-color: transparent;
  padding: 3px 7px 5px 7px;
  cursor: pointer;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__donat-block .donat-block__form .block__form-submit input:hover {
  color: #fff;
  background-color: #5683e6;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(86, 131, 230, 0.6);
  box-shadow: 0px 5px 27px 0px rgba(86, 131, 230, 0.6);
  border-color: transparent;
}
.main__donat-info {
  width: calc(63.51666666666667% - 15px);
}
.main__donat-info .donat-info__slider .owl-prev,
.main__donat-info .donat-info__slider .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main__donat-info .donat-info__slider .owl-prev i,
.main__donat-info .donat-info__slider .owl-next i {
  font-weight: 900;
  font-size: 38px;
  color: #565975;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__donat-info .donat-info__slider .owl-prev:hover i,
.main__donat-info .donat-info__slider .owl-next:hover i {
  color: #cb2332;
}
.main__donat-info .donat-info__slider .owl-prev {
  left: 29px;
}
.main__donat-info .donat-info__slider .owl-next {
  right: 29px;
}
.main__donat-info .donat-info__services {
  margin-top: 22px;
}
.main__donat-info .info__services-heading {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.main__donat-info .info__services-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}
.main__donat-info .info__services-item {
  width: calc(33.333333333333336% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.main__donat-info .info__services-item .services-item__icon {
  width: 25%;
  margin-right: 10px;
}
.main__donat-info .info__services-item .services-item__text {
  font-weight: 500;
  font-size: 12px;
  color: #5c5e72;
  width: 75%;
  padding-right: 15px;
}
.main__payment {
  margin-top: 91px;
}
.main__payment-heading {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #404257;
}
.main__payment-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: -42px;
}
.main__payment-item {
  width: calc(16.666666666666668% - 15px);
  margin-bottom: 42px;
  text-align: center;
}
.main__payment-item:first-child,
.main__payment-item:nth-child(7) {
  text-align: left;
}
.main__payment-item:last-child,
.main__payment-item:nth-child(6) {
  text-align: right;
}
.main__profile {
  margin-bottom: 80px;
  position: relative;
}
.main__profile-info {
  width: calc(48.16666666666667% - 15px);
  padding-top: 120px;
}
.main__profile-character {
  position: absolute;
  right: 0;
  top: 0;
}
.main__profile .profile-info__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__profile .profile-info__level {
  margin: 0;
}
.main__profile .profile-info__level .info__level-content {
  position: relative;
}
.main__profile .profile-info__level svg {
  width: 75px;
  height: 75px;
}
.main__profile .profile-info__level svg rect {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  stroke: #565975;
  stroke-width: 5px;
}
.main__profile .profile-info__level svg line {
  stroke: #5683e6;
  stroke-width: 5px;
}
.main__profile .profile-info__level .level-content__text {
  position: absolute;
  top: calc(50% - 5px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  color: #5683e6;
}
.main__profile .profile-info__level .level-content__text .content__text-number {
  font-size: 20px;
  display: block;
}
.main__profile .profile-info__level .level-content__text .content__text-word {
  font-size: 10px;
  margin-top: -5px;
  display: block;
}
.main__profile .profile-info__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 25px;
}
.main__profile .profile-info__class {
  font-weight: 300;
  font-size: 20px;
  line-height: 0.6;
  color: #5683e6;
}
.main__profile .profile-info__nick {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.05;
  color: #fff;
}
.main__profile .profile-info__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
}
.main__profile .info__money-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}
.main__profile .info__money-item.cash {
  width: 50%;
}
.main__profile .info__money-item.cash .money__item-summ {
  color: #668750;
}
.main__profile .info__money-item.bill {
  width: 50%;
}
.main__profile .info__money-item.bill .money__item-summ {
  color: #d1d9dd;
}
.main__profile .info__money-item.donat .money__item-summ {
  color: #edb029;
}
.main__profile .info__money-item .money__item-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__profile .info__money-item .money__item-icon {
  margin-right: 16px;
}
.main__profile .info__money-item .money__item-summ {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.65;
}
.main__profile .info__money-item .money__item-sub {
  font-weight: 500;
  font-size: 10px;
  color: #5c5e72;
}
.main__profile .info__money-item .money__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 35px;
}
.main__profile .info__money-item .money__item-button a {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #565975;
  border: 1px solid #565975;
  padding: 2px 8px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.main__profile .info__money-item .money__item-button a:hover {
  color: #edb029;
  border-color: #edb029;
}
.main__profile-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}
.main__profile-statistic .profile-statistic__items {
  width: calc(48.16666666666667% - 15px);
}
.main__profile-statistic .profile-statistic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 21px;
}
.main__profile-statistic .profile-statistic__item span {
  font-weight: normal;
  font-size: 15px;
  color: #5c5e72;
}
.login__popup {
  background-color: #1c1d2c;
  width: 350px;
  position: inherit;
  overflow: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9999;
}
.login__popup .mfp-close {
  display: none;
}
.login__popup .login-block {
  display: none;
  background-color: #1c1d2c;
}
.login__popup .login-block.active {
  display: block;
}
.login__popup .login-block__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c1d2c;
}
.login__popup .login-block__tab {
  width: 50%;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  color: #565975;
  padding: 13px 0 17px 0;
  cursor: pointer;
  position: relative;
}
.login__popup .login-block__tab:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cb2332;
  bottom: 0;
  left: 0;
}
.login__popup .login-block__tab.active {
  background-color: #cb2332;
  color: #fff;
}
.login__popup .login-block__title {
  text-align: center;
  padding: 28px 0 21px 0;
}
.login__popup .login-block__heading {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.login__popup .login-block__sub {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #565975;
  margin-top: 6px;
}
.login__popup .login-block__form {
  padding: 0 26px 20px 26px;
}
.login__popup .login-block__form .block__form-item {
  width: 100%;
}
.login__popup .login-block__form .block__form-item input,
.login__popup .login-block__form .block__form-item select {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #565975;
  padding: 14px 18px 17px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #181825;
  border: 1px solid transparent;
}
.login__popup .login-block__form .block__form-item input:focus,
.login__popup .login-block__form .block__form-item select:focus {
  border: 1px solid #5683e6;
}
.login__popup .login-block__form .block__form-item input::-moz-placeholder {
  color: #565975;
  opacity: 1;
}
.login__popup .login-block__form .block__form-item input::-webkit-input-placeholder {
  color: #565975;
  opacity: 1;
}
.login__popup .login-block__form .block__form-item input:-ms-input-placeholder {
  color: #565975;
  opacity: 1;
}
.login__popup .login-block__form .block__form-item input::-ms-input-placeholder {
  color: #565975;
  opacity: 1;
}
.login__popup .login-block__form .block__form-item input::placeholder {
  color: #565975;
  opacity: 1;
}
.login__popup .login-block__form .block__form-item .jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
.login__popup .login-block__form .block__form-item .jq-selectbox.opened .jq-selectbox__select {
  border: 1px solid #5683e6;
  border-bottom: 0;
}
.login__popup .login-block__form .block__form-item .jq-selectbox__select {
  height: 50px;
  padding: 0 17px 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  background-color: #181825;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.login__popup .login-block__form .block__form-item .jq-selectbox__select-text {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  color: #565975;
  text-align: left;
}
.login__popup .login-block__form .block__form-item .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.login__popup .login-block__form .block__form-item .jq-selectbox__trigger:before {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-top: 10px solid #565975;
  right: 17px;
  top: calc(50% - 4px);
}
.login__popup .login-block__form .block__form-item .jq-selectbox__trigger:after {
  position: absolute;
  content: "";
  border: 3px solid transparent;
  border-top: 7px solid #181825;
  right: 19px;
  top: calc(50% - 3px);
}
.login__popup .login-block__form .block__form-item .jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 18px;
  background-color: #181825;
  margin: 0;
  top: 100% !important;
  border: 1px solid #5683e6;
  border-top: 0;
}
.login__popup .login-block__form .block__form-item .jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.login__popup .login-block__form .block__form-item .jq-selectbox li {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  color: #565975;
  margin-bottom: 5px;
}
.login__popup .login-block__form .block__form-item .jq-selectbox li.selected,
.login__popup .login-block__form .block__form-item li.sel {
  color: #5683e6 !important;
  position: relative;
}
.login__popup .login-block__form .block__form-item .jq-selectbox li:hover {
  color: #5683e6;
}
.login__popup .login-block__form .block__form-submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.login__popup .login-block__form .block__form-submit input {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #5c5e72;
  border: 1px solid #5c5e72;
  background-color: transparent;
  padding: 3px 7px 5px 7px;
  cursor: pointer;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.login__popup .login-block__form .block__form-submit input:hover {
  color: #fff;
  background-color: #5683e6;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(86, 131, 230, 0.6);
  box-shadow: 0px 5px 27px 0px rgba(86, 131, 230, 0.6);
  border-color: transparent;
}
