@font-face {
  font-family: "Open Sans Hebrew";
  src: url("../fonts/OpenSansHebrew/OpenSansHebrew-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Hebrew";
  src: url("../fonts/OpenSansHebrew/OpenSansHebrew-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Hebrew";
  src: url("../fonts/OpenSansHebrew/OpenSansHebrew-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #e7e7e7;
  font-family: "Open Sans Hebrew", sans-serif;
}
img {
  max-width: 100%;
}
.header {
  background-color: #fff;
}
.header > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-menu-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #e7e7e7;
}
.header-menu-cover i {
  font-size: 32px;
  color: #0032a0;
}
@media screen and (max-width: 991px) {
  .header-menu-cover {
    background-color: #444448;
    cursor: pointer;
  }
  .header-menu-cover i {
    color: #e7e7e7;
  }
}
@media screen and (max-width: 576px) {
  .header-menu-cover {
    width: 60px;
    height: 60px;
  }
  .header-menu-cover i {
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  .header-menu-cover {
    width: 50px;
    height: 50px;
  }
  .header-menu-cover i {
    font-size: 19px;
  }
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .header-logo {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .header-logo .logo-desc {
    display: none;
  }
}
.header-logo .logo-mob {
  display: none;
}
@media screen and (max-width: 991px) {
  .header-logo .logo-mob {
    display: block;
  }
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header-block-instruments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-block-instruments .instruments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 73px;
  position: relative;
  cursor: pointer;
}
.header-block-instruments .instruments-item:before,
.header-block-instruments .instruments-item:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #5d5f60;
}
.header-block-instruments .instruments-item:before {
  left: 0;
}
.header-block-instruments .instruments-item:after {
  right: 0;
}
.header-block-instruments .instruments-item:first-child:before {
  display: none;
}
.header-block-instruments .instruments-item .icon {
  position: relative;
}
.header-block-instruments .instruments-item .icon .badge {
  position: absolute;
  top: 48%;
  left: 70%;
  height: 19px;
  background-color: #b34d9d;
}
.header-block-instruments .instruments-item .icon i {
  font-size: 24px;
  color: #00acee;
}
.header-block-instruments .instruments-item .text {
  font-weight: 700;
  font-size: 14px;
  color: #737477;
}
@media screen and (max-width: 576px) {
  .header-block-instruments .instruments-item {
    width: 60px;
  }
  .header-block-instruments .instruments-item .icon i {
    font-size: 21px;
  }
  .header-block-instruments .instruments-item .icon .badge {
    font-size: 10px;
    height: 18px;
  }
  .header-block-instruments .instruments-item .text {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .header-block-instruments .instruments-item {
    width: 50px;
  }
  .header-block-instruments .instruments-item .icon i {
    font-size: 18px;
  }
  .header-block-instruments .instruments-item .icon .badge {
    font-size: 8px;
    height: 17px;
  }
  .header-block-instruments .instruments-item .text {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .header-block-instruments .instruments-item {
    width: 45px;
  }
  .header-block-instruments .instruments-item .icon i {
    font-size: 17px;
  }
  .header-block-instruments .instruments-item .icon .badge {
    font-size: 8px;
    height: 15px;
    padding: 3px 6px;
  }
  .header-block-instruments .instruments-item .text {
    font-size: 8px;
  }
}
.header-block-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-block-tools .tools-item {
  margin-right: 23px;
  cursor: pointer;
}
.header-block-tools .tools-item i {
  font-size: 17px;
  color: #0032a0;
}
.header-block-tools .tools-item.tools-chat i {
  font-size: 24px;
  color: #d9d9d9;
}
@media screen and (max-width: 576px) {
  .header-block-tools .tools-item {
    margin-right: 15px;
  }
  .header-block-tools .tools-item i {
    font-size: 14px;
  }
  .header-block-tools .tools-item.tools-chat i {
    font-size: 21px;
  }
}
@media screen and (max-width: 450px) {
  .header-block-tools .tools-item {
    margin-right: 15px;
  }
  .header-block-tools .tools-item i {
    font-size: 12px;
  }
  .header-block-tools .tools-item.tools-chat i {
    font-size: 18px;
  }
}
@media screen and (max-width: 376px) {
  .header-block-tools .tools-item {
    margin-right: 10px;
  }
  .header-block-tools .tools-item i {
    font-size: 12px;
  }
  .header-block-tools .tools-item.tools-chat i {
    font-size: 14px;
  }
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 260px;
  padding-bottom: 15px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
@media screen and (max-width: 991px) {
  .menu {
    position: absolute;
    right: -100%;
    z-index: 99999;
    width: 100%;
    height: 100%;
  }
}
.menu.active {
  right: 0;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.menu-slide {
  height: 100%;
}
.menu-slide .slide-cover {
  height: 100%;
  position: relative;
}
.menu-slide .slide-cover .slick-list {
  height: 102px;
}
.menu-slide .slide-cover .slick-track {
  height: 100%;
}
.menu-slide .slide-cover .slick-prev,
.menu-slide .slide-cover .slick-next {
  position: absolute;
  right: 115px;
  bottom: 5px;
  z-index: 999;
  width: auto;
  height: auto;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
}
.menu-slide .slide-cover .slick-prev i,
.menu-slide .slide-cover .slick-next i {
  font-weight: 900;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.menu-slide .slide-cover .slick-prev {
  margin-left: 10px;
}
.menu-slide .slide-cover .slick-next {
  right: 130px;
}
.menu-slide .slide-img {
  float: right;
}
.menu-slide .slide-text {
  background-color: #0032a0;
  color: #fff;
  padding: 14px;
}
.menu-slide .slide-text .text-heading {
  font-weight: normal;
  font-size: 16px;
}
.menu-slide .slide-text .text-heading span {
  font-weight: 300;
}
.menu-slide .slide-text .text-visit {
  font-weight: normal;
  font-size: 12px;
}
.menu-slide .slide-text .text-info {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  margin: auto 0 10px 0;
}
.menu-nav {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #444448;
}
.menu-nav .nav-items .nav-item {
  position: relative;
}
.menu-nav .nav-items .nav-item:before {
  position: absolute;
  content: "\f114";
  font-family: "Flaticon";
  font-size: 11px;
  top: 0;
  bottom: 0;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8b8c91;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.menu-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #505254;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.menu-nav .nav-item.item-mail .nav-icon {
  position: relative;
}
.menu-nav .nav-item.item-mail .nav-icon:after {
  position: absolute;
  content: "\f10d";
  font-family: "Flaticon";
  bottom: 3px;
  right: 10px;
  color: #8b8c91;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #444448;
  border-radius: 50%;
}
.menu-nav .nav-open {
  border-bottom: 0;
}
.menu-nav .nav-open:before {
  color: #219ad8 !important;
}
.menu-nav .nav-open .nav-icon i {
  color: #2097d7;
}
.menu-nav .nav-open .nav-link {
  font-weight: 700;
  color: #2097d7;
}
.menu-nav .nav-link {
  font-weight: 300;
  font-size: 14px;
  color: #a1a1a2;
  padding: 15px 10px 15px 0;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.menu-nav .nav-link:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: #4b4c4f;
}
@media screen and (max-width: 991px) {
  .menu-nav .nav-link {
    font-size: 18px;
  }
}
.menu-nav .nav-icon {
  width: 50px;
  text-align: center;
}
.menu-nav .nav-icon i {
  color: #8b8c91;
  font-size: 24px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}
.menu-nav .nav-list {
  padding: 0;
  display: none;
  margin-bottom: 0;
  border-bottom: 1px solid #4b4c4f;
}
.menu-nav .nav-list .nav-item {
  list-style: none;
  margin-right: 50px;
  color: #fff;
  border-bottom: none;
}
.menu-nav .nav-list .nav-item:before {
  display: none;
}
.menu-nav .nav-list .nav-item.active {
  border-bottom: 0;
}
.menu-nav .nav-list .nav-item.active .nav-link {
  font-weight: 700;
}
.menu-nav .nav-list .nav-link {
  font-weight: normal;
  padding: 5px 10px 5px 0;
  color: #fff;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .main {
    padding: 0;
    padding-top: 20px;
  }
}
.main-head {
  background-color: #fff;
  padding: 20px 24px 23px 15px;
}
@media screen and (max-width: 1200px) {
  .main-head {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 767px) {
  .main-head {
    background-color: transparent;
    padding: 0 35px;
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  .main-head {
    padding: 0 25px;
  }
}
.main-head .head-heading {
  font-weight: normal;
  font-size: 18px;
  color: #005ca9;
}
@media screen and (max-width: 767px) {
  .main-head .head-heading {
    font-weight: bold;
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .main-head .head-heading {
    font-size: 21px;
  }
}
@media screen and (max-width: 450px) {
  .main-head .head-heading {
    font-size: 18px;
  }
}
.main-head .head-filter {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-head .head-filter .filter-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 0;
}
.main-head .head-filter .filter-file {
  cursor: pointer;
}
.main-head .head-filter .filter-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-head .head-filter .filter-open .open-icon i {
  font-size: 48px;
  color: #000;
}
.main-head .head-filter .filter-open .open-text {
  font-weight: normal;
  font-size: 18px;
  color: #012f56;
  margin: 0 20px 0 30px;
  cursor: pointer;
}
.main-head .head-filter .filter-open .open-arrow {
  cursor: pointer;
}
.main-head .head-filter .filter-open .open-arrow i {
  font-size: 21px;
  color: #0032a0;
}
@media screen and (max-width: 767px) {
  .main-head .head-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .main-head .head-filter .filter-open .open-icon i {
    font-size: 40px;
  }
  .main-head .head-filter .filter-open .open-text {
    margin: 0 15px 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .main-head .head-filter .filter-open .open-icon i {
    font-size: 34px;
  }
  .main-head .head-filter .filter-open .open-text {
    font-size: 16px;
    margin: 0 15px;
  }
  .main-head .head-filter .filter-open .open-arrow i {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .main-head .head-filter .filter-open .open-icon i {
    font-size: 30px;
  }
  .main-head .head-filter .filter-open .open-text {
    font-size: 14px;
    margin: 0 5px 0 10px;
  }
  .main-head .head-filter .filter-open .open-arrow i {
    font-size: 14px;
  }
}
.main-head .head-message {
  font-weight: bold;
  font-size: 14px;
  color: #444448;
}
.main-head .head-message.new span {
  color: #ff3300;
}
.main-head .head-message.all span {
  font-weight: normal;
  color: inherit;
}
@media screen and (max-width: 767px) {
  .main-head .head-message {
    display: none;
  }
}
.main-head .head-settings a {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  color: #00acee;
  position: relative;
}
.main-head .head-settings a:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #66c2f2;
}
@media screen and (max-width: 767px) {
  .main-head .head-settings {
    display: none;
  }
}
.main-head .head-items {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .main-head .head-items {
    padding: 0 15px;
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #e7e7e7;
    z-index: 999;
    padding: 0 20px 55px 20px;
    margin: 0;
    -webkit-box-shadow: 0px 25px 21px 0px rgba(51, 44, 40, 0.32);
    box-shadow: 0px 25px 21px 0px rgba(51, 44, 40, 0.32);
  }
}
@media screen and (max-width: 450px) {
  .main-head .head-items {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.main-head .form-group label {
  font-weight: 700;
  font-size: 14px;
  color: #012f56;
  margin-bottom: 3px;
}
.main-head .form-group .item-date {
  position: relative;
}
.main-head .form-group .item-date:before {
  position: absolute;
  content: "\f105";
  font-family: "Flaticon";
  top: 0;
  bottom: 0;
  left: 6px;
  color: #000;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-head .form-group .item-date.disable:before {
  color: #dedede;
}
.main-head .form-group .item-date.disable input {
  border-color: #dedede;
  background-color: #fff;
}
.main-head .form-group .item-select {
  position: relative;
}
.main-head .form-group .item-select:before {
  position: absolute;
  content: "\f114";
  font-family: "Flaticon";
  font-size: 11px;
  top: 0;
  bottom: 0;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  color: #0032a0;
}
.main-head .form-group .date {
  margin-top: 9px;
}
.main-head .form-group select,
.main-head .form-group input {
  width: 100%;
  border: 1px solid #ccc;
  height: 33px;
  padding: 0 15px;
  outline: none;
}
.main-head .form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.main-head .form-group select::-ms-expand {
  display: none;
}
.main-head .form-group button {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 33px;
  border: none;
  margin-top: 9px;
  background-color: #0032a0;
}
.main-head .form-group .item-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
.main-head .form-group .item-choice input {
  display: none;
}
.main-head .form-group .item-choice label {
  font-weight: normal;
  font-size: 14px;
  color: #012f56;
  padding-right: 25px;
  margin-bottom: 0;
  margin-left: 15px;
  position: relative;
}
.main-head .form-group .item-choice label:before {
  position: absolute;
  content: "";
  font-family: "Flaticon";
  font-size: 11px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 21px;
  height: 21px;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-head .form-group .item-choice input:checked + label:before {
  content: "\f124";
}
@media screen and (max-width: 1200px) {
  .main-head .form-group {
    padding: 0 5px;
  }
  .main-head .form-group:first-child {
    padding-right: 15px;
  }
  .main-head .form-group:last-child {
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .main-head .form-group {
    padding: 0 15px;
  }
  .main-head .form-group:first-child {
    padding-right: 15px;
  }
  .main-head .form-group:last-child {
    padding-left: 15px;
  }
  .main-head .form-group label {
    font-size: 16px;
  }
  .main-head .form-group input,
  .main-head .form-group select {
    height: 50px;
  }
  .main-head .form-group button {
    height: 50px;
    font-size: 18px;
  }
  .main-head .form-group .item-select:before {
    left: 18px;
  }
  .main-head .form-group .item-date:before {
    left: 17px;
  }
  .main-head .form-group .date {
    margin-top: 14px;
  }
  .main-head .form-group button {
    margin-top: 17px;
  }
}
@media screen and (max-width: 576px) {
  .main-head .form-group label {
    font-size: 14px;
  }
  .main-head .form-group button {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .main-head .form-group {
    width: 100%;
  }
  .main-head .form-group button {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .main-head.main-events .form-group {
    padding: 0 15px;
  }
  .main-head.main-events .form-group:first-child {
    padding-right: 15px;
  }
  .main-head.main-events .form-group:last-child {
    padding-left: 15px;
  }
}
@media screen and (max-width: 576px) {
  .main-head.main-events .form-group:nth-child(3) {
    width: 100%;
  }
  .main-head.main-events .form-group:last-child {
    width: 100%;
  }
}
.main-body {
  background-color: #fff;
  margin-top: 15px;
  padding: 10px 20px 25px 20px;
}
@media screen and (max-width: 767px) {
  .main-body {
    padding: 10px 0 20px 0;
  }
}
.main-body .body-heading {
  font-weight: 700;
  font-size: 14px;
  color: #012f56;
}
@media screen and (max-width: 767px) {
  .main-body .body-heading {
    display: none;
  }
}
.main-body .body-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .main-body .body-files {
    display: none;
  }
}
.main-body .body-file {
  cursor: pointer;
}
.main-body .table-block {
  display: table;
  width: 100%;
}
.main-body .table-block .table-head {
  display: table-row;
  padding: 0;
}
.main-body .table-block .table-head .head-item {
  display: table-cell;
  list-style: none;
  padding: 10px 5px;
  font-weight: 700;
  font-size: 12px;
  color: #012f56;
}
.main-body .table-block .table-list {
  display: table-row;
  padding: 0;
  border-bottom: 1px solid #e6e4db;
}
.main-body .table-block .table-list:nth-child(2n + 1) {
  background-color: #f5f4f4;
}
.main-body .table-block .table-list .table-item {
  display: table-cell;
  list-style: none;
  padding: 10px 5px;
  font-size: 12px;
  color: #012f56;
}
.main-body .table-block .table-list .table-item .heading {
  display: none;
}
.main-body .table-block .table-list .table-item .br {
  display: none;
}
.main-body .table-block .table-list .table-item .mobile {
  display: none;
}
.main-body .table-block .table-list .table-icon {
  position: relative;
  text-align: center;
}
.main-body .table-block .table-list .table-icon i {
  cursor: pointer;
}
.main-body .table-block .table-list .item-tool {
  position: relative;
}
.main-body .table-block .none {
  display: none !important;
}
@media screen and (max-width: 1200px) {
  .main-body .table-block .table-head .head-item {
    font-size: 10px;
  }
  .main-body .table-block .table-list .table-icon {
    text-align: left;
  }
  .main-body .table-block .table-list .table-icon i {
    font-size: 11px;
  }
}
@media screen and (max-width: 991px) {
  .main-body .table-block .table-item {
    max-width: 115px;
  }
}
@media screen and (max-width: 767px) {
  .main-body .table-block {
    display: block;
  }
  .main-body .table-block .table-head {
    display: none;
  }
  .main-body .table-block .table-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f7f5));
    background-image: -webkit-linear-gradient(#fff, #f8f7f5);
    background-image: -o-linear-gradient(#fff, #f8f7f5);
    background-image: linear-gradient(#fff, #f8f7f5);
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  .main-body .table-block .table-list .table-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    max-width: inherit;
    padding: 5px;
    padding-top: 0;
  }
  .main-body .table-block .table-list .table-item .heading {
    display: block;
    font-weight: normal;
    font-size: 11px;
    color: #00acee;
  }
  .main-body .table-block .table-list .table-item .br {
    display: block;
  }
  .main-body .table-block .table-list .table-item .text {
    margin: auto 0 0 0;
  }
  .main-body .table-block .table-list .table-item .desc {
    display: none;
  }
  .main-body .table-block .table-list .table-item .mobile {
    display: block;
  }
  .main-body .table-block .table-list .table-item.read {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 16.6%;
  }
  .main-body .table-block .table-list .table-item.player {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 42%;
  }
  .main-body .table-block .table-list .table-item.problem {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 42%;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .main-body .table-block .table-list .table-item.status {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 16.6%;
  }
  .main-body .table-block .table-list .table-item.finish {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    width: 16.6%;
  }
  .main-body .table-block .table-list .table-item.action {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 42%;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .main-body .table-block .table-list .table-item.table-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    margin: 0 auto 0 0;
    height: 100%;
  }
  .main-body .table-block .table-list .table-item.table-icon i {
    font-size: 48px;
  }
}
@media screen and (max-width: 576px) {
  .main-body .table-block .table-list .table-item {
    font-size: 14px;
  }
  .main-body .table-block .table-list .table-item.table-icon i {
    font-size: 42px;
  }
}
@media screen and (max-width: 450px) {
  .main-body .table-block .table-list .table-item {
    font-size: 12px;
  }
  .main-body .table-block .table-list .table-item.table-icon i {
    font-size: 36px;
  }
}
@media screen and (max-width: 376px) {
  .main-body .table-block .table-list .table-item {
    font-size: 10px;
  }
  .main-body .table-block .table-list .table-item .heading {
    font-size: 9px;
  }
  .main-body .table-block .table-list .table-item.read {
    width: 19%;
  }
  .main-body .table-block .table-list .table-item.player {
    width: 38%;
  }
  .main-body .table-block .table-list .table-item.problem {
    width: 38%;
  }
  .main-body .table-block .table-list .table-item.status {
    width: 16%;
  }
  .main-body .table-block .table-list .table-item.finish {
    width: 18%;
  }
  .main-body .table-block .table-list .table-item.action {
    width: 50%;
  }
  .main-body .table-block .table-list .table-item.table-icon i {
    font-size: 28px;
  }
}
.main-body .tool {
  position: absolute;
  left: 57px;
  top: 15px;
  background-color: #fff;
  min-width: 142px;
  display: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}
.main-body .tool-text {
  padding: 20px 20px 10px 20px;
  font-weight: 700;
  font-size: 12px;
  color: #0032a0;
  text-align: right;
  position: relative;
}
.main-body .tool-text:before {
  position: absolute;
  content: "";
  top: -3px;
  right: 100%;
  background-image: url(../img/triangle.png);
  width: 26px;
  height: 28px;
}
.main-body .tool-buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-body .tool-buttons button,
.main-body .tool-buttons a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  border: none;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
}
.main-body .tool-buttons .yes {
  background-color: #0032a0;
}
.main-body .tool-buttons .no {
  background-color: #2097d7;
  margin-right: 1px;
}
@media screen and (max-width: 1200px) {
  .main-body .tool {
    top: 16px;
    left: 35px;
  }
}
@media screen and (max-width: 767px) {
  .main-body .tool {
    top: 48%;
    left: 41px;
  }
}
@media screen and (max-width: 576px) {
  .main-body .tool {
    left: 40px;
  }
}
@media screen and (max-width: 450px) {
  .main-body .tool {
    left: 39px;
  }
}
@media screen and (max-width: 376px) {
  .main-body .tool {
    left: 37px;
  }
}
@media screen and (max-width: 767px) {
  .main-events {
    padding: 10px 20px;
  }
}
.main-events .body-block {
  display: none;
  margin: 0 -15px;
}
.main-events .body-block .body-message {
  font-weight: bold;
  font-size: 24px;
  color: #012f56;
}
.main-events .body-block .body-message:first-child {
  padding-right: 0;
}
.main-events .body-block .body-message.new span {
  color: #f10017;
}
@media screen and (max-width: 767px) {
  .main-events .body-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .main-events .body-block .body-message {
    font-size: 21px;
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .main-events .body-block .body-message {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .main-events .table-cover {
    margin-top: 15px;
    padding: 0;
  }
}
.main-events .table-cover table td,
.main-events .table-cover table th {
  background-color: #e9f0f3;
  border: 3px solid #fff;
  position: inherit;
  padding-top: 3px;
  padding-bottom: 3px;
}
.main-events .table-cover table th {
  border-right: none;
  text-align: center;
  vertical-align: middle;
}
.main-events .table-cover table th i {
  font-size: 28px;
  color: #000;
}
.main-events .table-cover table th.shield-cross i,
.main-events .table-cover table th.shield-checked i {
  position: relative;
}
.main-events .table-cover table th.shield-cross i:after,
.main-events .table-cover table th.shield-checked i:after {
  position: absolute;
  content: "\f120";
  font-family: "Flaticon";
  font-size: 12px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -5px;
}
.main-events .table-cover table th.shield-checked i:after {
  content: "\f124";
}
.main-events .table-cover table td {
  line-height: 1.3;
  font-weight: normal;
  font-size: 14px;
  color: #012f56;
}
.main-events .table-cover table td .heading {
  font-weight: bold;
  font-size: 14px;
}
.main-events .table-cover table td .heading.normal {
  color: #0096db;
}
.main-events .table-cover table td .heading.warning {
  color: #e72c1e;
}
.main-events .table-cover table td .heading.info {
  color: #2097d7;
}
.main-events .table-cover table .date {
  vertical-align: bottom;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .main-events .table-cover table td {
    font-size: 10px;
    padding: 3px 5px;
  }
  .main-events .table-cover table td .heading {
    font-size: 11px;
  }
}
.main-request {
  background-color: #fff;
  padding: 20px 24px 33px 15px;
}
@media screen and (max-width: 767px) {
  .main-request {
    background-color: transparent;
    padding: 0 35px;
  }
}
@media screen and (max-width: 576px) {
  .main-request {
    padding: 0 25px;
  }
}
.main-request .request-heading {
  font-weight: normal;
  font-size: 18px;
  color: #005ca9;
}
.main-request .request-heading .mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .main-request .request-heading {
    font-weight: bold;
    font-size: 24px;
  }
  .main-request .request-heading .desctop {
    display: none;
  }
  .main-request .request-heading .mobile {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .main-request .request-heading {
    font-size: 21px;
  }
}
@media screen and (max-width: 450px) {
  .main-request .request-heading {
    font-size: 18px;
  }
}
.main-request .request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .main-request .request-form {
    padding: 0 15px;
  }
}
@media screen and (max-width: 450px) {
  .main-request .request-form {
    padding: 0;
  }
}
.main-request .request-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 240px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
@media screen and (max-width: 991px) {
  .main-request .request-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .main-request .request-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.main-request .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-request .form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #012f56;
}
.main-request .form-group input,
.main-request .form-group select {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  font-weight: normal;
  font-size: 14px;
  color: #012f56;
  padding: 0 5px;
}
.main-request .form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main-request .form-group select::-ms-expand {
  display: none;
}
.main-request .form-group .item-select {
  position: relative;
}
.main-request .form-group .item-select:before {
  position: absolute;
  content: "\f114";
  font-family: "Flaticon";
  font-size: 11px;
  top: 4px;
  bottom: 0;
  left: 8px;
  color: #0032a0;
}
@media screen and (max-width: 767px) {
  .main-request .form-group {
    width: calc(50% - 20px);
  }
  .main-request .form-group:last-child {
    width: 100%;
  }
  .main-request .form-group label {
    font-size: 16px;
  }
  .main-request .form-group input,
  .main-request .form-group select {
    height: 50px;
    padding: 0 15px;
  }
  .main-request .form-group .item-select:before {
    top: 0;
    bottom: 0;
    left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .main-request .form-group {
    width: calc(50% - 10px);
  }
  .main-request .form-group label {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .main-request .form-group {
    width: 100%;
  }
  .main-request .form-group label {
    font-size: 14px;
  }
}
.main-request .request-textarea .form-group textarea {
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  height: 150px;
  padding: 5px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .main-request .request-textarea .form-group {
    width: 100%;
  }
  .main-request .request-textarea .form-group textarea {
    padding: 10px 15px;
  }
}
.main-request .request-textarea .sub-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .main-request .request-textarea .sub-mobile {
    display: block;
    width: 100%;
  }
}
.main-request .request-textarea .submit {
  display: block;
  border: none;
  margin: auto auto 0 0;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  background-color: #0032a0;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .main-request .request-textarea .submit {
    margin-top: 50px;
    height: 50px;
    font-size: 18px;
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 576px) {
  .main-request .request-textarea .submit {
    font-size: 16px;
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 450px) {
  .main-request .request-textarea .submit {
    margin-top: 35px;
    font-size: 14px;
    width: calc(50% - 10px);
    padding: 0 10px;
  }
}
@media screen and (max-width: 376px) {
  .main-request .request-textarea .submit {
    margin-top: 30px;
    min-width: 150px;
  }
}
.main-request .request-sub {
  font-weight: normal;
  font-size: 14px;
  color: #012f56;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .main-request .request-sub {
    display: none;
  }
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: 999;
  display: none;
}
.overlay.active {
  display: block;
}
.popup {
  display: block;
  width: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 9999;
  padding: 15px 25px 15px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
.popup.active {
  display: block;
}
.popup-close {
  text-align: left;
}
.popup-close i {
  font-size: 16px;
  cursor: pointer;
  color: #0d2d66;
}
.popup-heading {
  font-weight: normal;
  font-size: 24px;
  color: #005ca9;
  margin-top: 10px;
}
.popup-img {
  text-align: center;
  margin-top: 18px;
}
.popup-sub {
  font-weight: 700;
  font-size: 14px;
  color: #012f56;
}
@media screen and (max-width: 450px) {
  .popup {
    width: 100%;
    padding: 15px 20px;
  }
  .popup-heading {
    font-size: 21px;
  }
}
@media screen and (max-width: 376px) {
  .popup {
    width: 100%;
    padding: 15px 20px;
  }
  .popup-heading {
    font-size: 18px;
  }
  .popup-sub {
    font-size: 12px;
  }
}
