@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?bce5591e0fef2f429e06d3832698633c") format("truetype"),
url("./flaticon.woff?bce5591e0fef2f429e06d3832698633c") format("woff"),
url("./flaticon.woff2?bce5591e0fef2f429e06d3832698633c") format("woff2"),
url("./flaticon.eot?bce5591e0fef2f429e06d3832698633c#iefix") format("embedded-opentype"),
url("./flaticon.svg?bce5591e0fef2f429e06d3832698633c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-wallet:before {
    content: "\f101";
}
.flaticon-wallet-1:before {
    content: "\f102";
}
.flaticon-wallet-2:before {
    content: "\f103";
}
.flaticon-download:before {
    content: "\f104";
}
.flaticon-fire:before {
    content: "\f105";
}
.flaticon-information:before {
    content: "\f106";
}
.flaticon-video-camera:before {
    content: "\f107";
}
.flaticon-left-arrow:before {
    content: "\f108";
}
.flaticon-eye:before {
    content: "\f109";
}
.flaticon-star:before {
    content: "\f10a";
}
.flaticon-heart:before {
    content: "\f10b";
}
.flaticon-letter-x:before {
    content: "\f10c";
}
.flaticon-gold-ingots:before {
    content: "\f10d";
}
.flaticon-facebook-logo:before {
    content: "\f10e";
}
.flaticon-vk:before {
    content: "\f10f";
}
.flaticon-instagram:before {
    content: "\f110";
}
.flaticon-send:before {
    content: "\f111";
}
.flaticon-download-1:before {
    content: "\f112";
}
.flaticon-files:before {
    content: "\f113";
}
.flaticon-pdf:before {
    content: "\f114";
}
.flaticon-share:before {
    content: "\f115";
}
.flaticon-refresh:before {
    content: "\f116";
}
.flaticon-cogwheel:before {
    content: "\f117";
}
.flaticon-right-arrow:before {
    content: "\f118";
}
.flaticon-search:before {
    content: "\f119";
}
.flaticon-file:before {
    content: "\f11a";
}
.flaticon-check:before {
    content: "\f11b";
}
.flaticon-businessman:before {
    content: "\f11c";
}
.flaticon-star-1:before {
    content: "\f11d";
}
.flaticon-setting:before {
    content: "\f11e";
}
