	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/07/2018 15:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-new-web-page:before { content: "\f100"; }
.flaticon-export:before { content: "\f101"; }
.flaticon-forward-arrow:before { content: "\f102"; }
.flaticon-share:before { content: "\f103"; }
.flaticon-file-transfer:before { content: "\f104"; }
.flaticon-miscellaneous:before { content: "\f105"; }
.flaticon-sitemap:before { content: "\f106"; }
.flaticon-caret-down:before { content: "\f107"; }
.flaticon-dot:before { content: "\f108"; }
.flaticon-perfect-circle:before { content: "\f109"; }
.flaticon-money:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-checkmark:before { content: "\f10c"; }
.flaticon-mail:before { content: "\f10d"; }
.flaticon-menu:before { content: "\f10e"; }
.flaticon-pause:before { content: "\f10f"; }
.flaticon-bell:before { content: "\f110"; }
.flaticon-cross:before { content: "\f111"; }
.flaticon-check:before { content: "\f112"; }
.flaticon-return:before { content: "\f113"; }
.flaticon-info:before { content: "\f114"; }
.flaticon-database:before { content: "\f115"; }
.flaticon-dot-inside-a-circle:before { content: "\f116"; }
.flaticon-watch:before { content: "\f117"; }
.flaticon-left-arrow:before { content: "\f118"; }
.flaticon-web-page:before { content: "\f119"; }
.flaticon-plus:before { content: "\f11a"; }
.flaticon-speech-bubble:before { content: "\f11b"; }
.flaticon-list:before { content: "\f11c"; }
.flaticon-clipboards:before { content: "\f11d"; }
.flaticon-down-arrow:before { content: "\f11e"; }
.flaticon-credit-card:before { content: "\f11f"; }
.flaticon-floppy-disk:before { content: "\f120"; }
.flaticon-forbidden:before { content: "\f121"; }
.flaticon-radiation:before { content: "\f122"; }