    /*
    Flaticon icon font: Flaticon
    Creation date: 22/07/2019 19:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-down-arrow:before { content: "\f100"; }
.flaticon-qr-code:before { content: "\f101"; }
.flaticon-cursor:before { content: "\f102"; }
.flaticon-logout:before { content: "\f103"; }
.flaticon-right:before { content: "\f104"; }
.flaticon-close:before { content: "\f105"; }
.flaticon-watch:before { content: "\f106"; }
.flaticon-coin:before { content: "\f107"; }
.flaticon-bitcoin:before { content: "\f108"; }
.flaticon-bitcoin-1:before { content: "\f109"; }
.flaticon-close-1:before { content: "\f10a"; }
.flaticon-play:before { content: "\f10b"; }
.flaticon-check:before { content: "\f10c"; }
.flaticon-star:before { content: "\f10d"; }
.flaticon-search:before { content: "\f10e"; }
.flaticon-next:before { content: "\f10f"; }
.flaticon-money:before { content: "\f110"; }
.flaticon-paypal:before { content: "\f111"; }
.flaticon-money-1:before { content: "\f112"; }
.flaticon-calendar:before { content: "\f113"; }
.flaticon-bank-1:before { content: "\f114"; }
.flaticon-bank:before { content: "\f115"; }
.flaticon-next-1:before { content: "\f116"; }
    
    $font-Flaticon-down-arrow: "\f100";
    $font-Flaticon-qr-code: "\f101";
    $font-Flaticon-cursor: "\f102";
    $font-Flaticon-logout: "\f103";
    $font-Flaticon-right: "\f104";
    $font-Flaticon-close: "\f105";
    $font-Flaticon-watch: "\f106";
    $font-Flaticon-coin: "\f107";
    $font-Flaticon-bitcoin: "\f108";
    $font-Flaticon-bitcoin-1: "\f109";
    $font-Flaticon-close-1: "\f10a";
    $font-Flaticon-play: "\f10b";
    $font-Flaticon-check: "\f10c";
    $font-Flaticon-star: "\f10d";
    $font-Flaticon-search: "\f10e";
    $font-Flaticon-next: "\f10f";
    $font-Flaticon-money: "\f110";
    $font-Flaticon-paypal: "\f111";
    $font-Flaticon-money-1: "\f112";
    $font-Flaticon-calendar: "\f113";
    $font-Flaticon-bank-1: "\f114";
    $font-Flaticon-bank: "\f115";
    $font-Flaticon-next-1: "\f116";